@model IEnumerable<Selectio.Models.SqlSolvingViewModels.SqlTaskViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks</h2>

<ol>
    

@foreach (var t in Model)
{
    <li>
        <a asp-controller="SqlSolvings" asp-action="Create" asp-route-id="@t.Id">
            @if (t.IsSolved)
            {
                <span class="text-success">@t.Name</span>
            }
            else
            {
                <span class="text-danger">@t.Name</span>
            }
        </a>
    </li>
}
</ol>
