@{
    ViewData["Title"] = "Home Page";
}

<h2>Student:</h2>
<p><a asp-controller="SqlSolvings" asp-action="Index">View all tasks</a></p>
<p><a asp-controller="SqlSolvings" asp-action="MySolvings">View my solvings </a></p>


<h2>Teacher:</h2>
<p><a asp-controller="SqlTasks" asp-action="Index">View all tasks</a></p>
<p><a asp-controller="SqlTasks" asp-action="Create">New task</a></p>
<p><a asp-controller="SqlSolvings" asp-action="AllSolvings">View all solvings</a></p>
<p><a asp-controller="Users" asp-action="Index">View all users</a></p>
<p><a asp-controller="Messages" asp-action="Index">View reported bugs</a></p>